extends ./layout/index

block  contenido
    main.container.mt-5 
        .row
            .col-md-5 
            img(src="img/nosotros.jpg", alt="imagens sobre nosotros", class="img-fluid") 
            .col-md-7 
                h1= pagina
                blockquote  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum cursus dolor at felis eleifend commodo. Nam ut diam sed enim viverra lobortis in nec nisi. Aenean quis turpis ut orci mattis gravida at sit amet turpis. Ut eu efficitur dolor. Donec ullamcorper urna mi, sed dapibus ipsum semper sed.  

                p Ut placerat nisl sit amet metus scelerisque, sed maximus nulla sollicitudin. Etiam viverra semper suscipit. Duis malesuada et magna vitae semper. Aliquam nibh sem, lobortis sed volutpat id, faucibus vestibulum dui. Nam vel consectetur mauris. Donec sed ex velit. Mauris ut purus eu erat commodo rhoncus sit amet ac libero. 

                p Nullam a risus sed dui ultrices luctus. Proin varius lacus lacus. Aenean at erat vehicula, aliquam ex ac, lacinia justo. Pellentesque consequat ante lacus, non euismod urna eleifend in. Donec mattis urna vitae nulla finibus rhoncus. Donec ut malesuada nulla, eget maximus urna. Phasellus at bibendum urna. Fusce et orci ut purus fermentum dapibus non vel sapien.

    .listado-iconos
        .container.mt-5.py-5.text-center 
            .row 
                .col-md-4 
                    img(src="img/icono_seguridad.svg", alt="icono seguridad", class="img-fluid mb-4")            
                    h2.mb-4 Seguridad 
                    p Nullam a risus sed dui ultrices luctus. Proin varius lacus lacus. Aenean at erat vehicula, aliquam ex ac, lacinia justo.

                .col-md-4 
                    img(src="img/icono_destinos.svg", alt="icono destinos", class="img-fluid mb-4")            
                    h2.mb-4 Mejores Destinos 
                    p Nullam a risus sed dui ultrices luctus. Proin varius lacus lacus. Aenean at erat vehicula, aliquam ex ac, lacinia justo.

                .col-md-4 
                    img(src="img/icono_precios.svg", alt="icono precios", class="img-fluid mb-4")            
                    h2.mb-4 Mejores Precios 
                    p Nullam a risus sed dui ultrices luctus. Proin varius lacus lacus. Aenean at erat vehicula, aliquam ex ac, lacinia justo.        